<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="static/login.css" rel="stylesheet">
    </head>
    <body>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ url_for('index') }}">The Market</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </nav>
        {% if messages %}
            <h2>{{ messages }}</h2>
        {% endif %}
        <h1 style="text-align: center;">The Market</h1>
        <h6 style="text-align: center;">Login or <a style="text-decoration: none;" href="{{ url_for('signup') }}">Sign up</a> if you haven't</h6>
        <div id="login-out"> 
            <form action="/login" style="margin: 10px;" method="post">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input autocomplete="off" type="text" style="width:300px;" class="form-control" id="username" name="usernamelogin">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" style="width:300px;" class="form-control" id="exampleInputPassword1" name="passwordlogin">
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>